[submodule "panda"]
	path = panda
	url = ../../CineXWorm/panda.git
[submodule "opendbc"]
	path = opendbc
	url = ../../CineXWorm/opendbc.git
[submodule "laika_repo"]
	path = laika_repo
	url = ../../commaai/laika.git
[submodule "cereal"]
	path = cereal
	url = ../../CineXWorm/cereal.git
[submodule "rednose_repo"]
	path = rednose_repo
	url = ../../commaai/rednose.git
